<div class="container">
    <h1>New category</h1>
    <form [formGroup]="addForm" (ngSubmit)="addCategory()">
        <div class="form-group">
            <div class="form-item">
                <label>Name</label>
                <input 
                    formControlName="name"
                    type="text"
                    class="form-control">
                <span [style.opacity]="(name.errors && name.errors.required)? 1 : 0">Required</span>
                <span [style.opacity]="(!name.value || (name.errors && name.errors.minlength))? 1 : 0">Min 3 characters</span>
                <span [style.opacity]="(!name.value || (name.errors && name.errors.maxlength))? 1 : 0">Max 60 characters</span>
            </div>
            <div class="form-item">
                <label>Image</label>
                <input 
                    formControlName="img"
                    type="text"
                    class="form-control">
                <span>Optional</span>
            </div>
        </div>
        <button 
            type="submit" 
            [disabled]="addForm.invalid"
            class="btn btn-primary">
            Add
        </button>
    </form>
</div>